# ============================
# Environment
# ============================
APP_NAME=Dengue Monitor
ENV=development

# ============================
# Logging
# ============================

# LOG_LEVEL: DEBUG | INFO | WARNING | ERROR | CRITICAL
LOG_LEVEL=INFO   
# LOG_FORMAT: TEXT | JSON
LOG_FORMAT=TEXT
LOG_TO_FILE=true
LOG_DIR=logs

# ============================
# Data Base (PostgreSQL)
# ============================
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dengue_db
DB_USER=
DB_PASSWORD=

# ============================
# API OpenDataSUS
# ============================
OPENDATASUS_BASE_URL=https://apidadosabertos.saude.gov.br/arboviroses/dengue

# ============================
# Data processing
# ============================
API_PAGE_SIZE=1000
