# =========================
# Python
# =========================
*/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambientes virtuais
venv/
.env

# =========================
# VS Code
# =========================
.vscode/


# =========================
# Banco de dados / logs
# =========================
*.log

