# ENV
dotenv

# API REST
fastapi
uvicorn

# Data Base
psycopg[binary]
SQLAlchemy

# Migration
alembic

# Data analysis and processing
pandas

# Data visualization
matplotlib
seaborn
plotly

# Dashboard
streamlit
